.progress-bar {
  position: relative;
  height: 74px;
  width: 74px;
}

.progress-bar div {
  position: absolute;
  height: 74px;
  width: 74px;
  border-radius: 50%;
}

.progress-bar div span {
  position: absolute;
  height: 65px;
  width: 65px;
  left: 6.5%;
  top: 6%;
  text-align: center;
  border-radius: 50%;
  background-color: #FFF;
  line-height: 67px;
}

.progress-bar .rotate {
  clip: rect(0 37px 74px 0);
}

.progress-bar .left {
  clip: rect(0 37px 74px 0);
  opacity: 1;
}

.progress-bar .right {
  clip: rect(0 37px 74px 0); 
  transform: rotate(180deg);
  opacity: 0;
}
 @keyframes 
toggle {  
  0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}
